<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ru.springboot3.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.ru.springboot3.model.Activity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="activityAddress" jdbcType="VARCHAR" property="activityaddress" />
    <result column="activityTitle" jdbcType="VARCHAR" property="activitytitle" />
    <result column="belongTo" jdbcType="VARCHAR" property="belongto" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ru.springboot3.model.Activity">
    <result column="activityContext" jdbcType="LONGVARCHAR" property="activitycontext" />
    <result column="activityMumber" jdbcType="LONGVARCHAR" property="activitymumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, startTime, endTime, activityAddress, activityTitle, belongTo
  </sql>
  <sql id="Blob_Column_List">
    activityContext, activityMumber
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.ru.springboot3.model.ActivityExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.ru.springboot3.model.ActivityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ru.springboot3.model.ActivityExample">
    delete from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ru.springboot3.model.Activity">
    insert into activity (id, startTime, endTime, 
      activityAddress, activityTitle, belongTo, 
      activityContext, activityMumber
      )
    values (#{id,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{activityaddress,jdbcType=VARCHAR}, #{activitytitle,jdbcType=VARCHAR}, #{belongto,jdbcType=VARCHAR}, 
      #{activitycontext,jdbcType=LONGVARCHAR}, #{activitymumber,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ru.springboot3.model.Activity">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="activityaddress != null">
        activityAddress,
      </if>
      <if test="activitytitle != null">
        activityTitle,
      </if>
      <if test="belongto != null">
        belongTo,
      </if>
      <if test="activitycontext != null">
        activityContext,
      </if>
      <if test="activitymumber != null">
        activityMumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityaddress != null">
        #{activityaddress,jdbcType=VARCHAR},
      </if>
      <if test="activitytitle != null">
        #{activitytitle,jdbcType=VARCHAR},
      </if>
      <if test="belongto != null">
        #{belongto,jdbcType=VARCHAR},
      </if>
      <if test="activitycontext != null">
        #{activitycontext,jdbcType=LONGVARCHAR},
      </if>
      <if test="activitymumber != null">
        #{activitymumber,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ru.springboot3.model.ActivityExample" resultType="java.lang.Long">
    select count(*) from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityaddress != null">
        activityAddress = #{record.activityaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.activitytitle != null">
        activityTitle = #{record.activitytitle,jdbcType=VARCHAR},
      </if>
      <if test="record.belongto != null">
        belongTo = #{record.belongto,jdbcType=VARCHAR},
      </if>
      <if test="record.activitycontext != null">
        activityContext = #{record.activitycontext,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.activitymumber != null">
        activityMumber = #{record.activitymumber,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update activity
    set id = #{record.id,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      activityAddress = #{record.activityaddress,jdbcType=VARCHAR},
      activityTitle = #{record.activitytitle,jdbcType=VARCHAR},
      belongTo = #{record.belongto,jdbcType=VARCHAR},
      activityContext = #{record.activitycontext,jdbcType=LONGVARCHAR},
      activityMumber = #{record.activitymumber,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity
    set id = #{record.id,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      activityAddress = #{record.activityaddress,jdbcType=VARCHAR},
      activityTitle = #{record.activitytitle,jdbcType=VARCHAR},
      belongTo = #{record.belongto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ru.springboot3.model.Activity">
    update activity
    <set>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityaddress != null">
        activityAddress = #{activityaddress,jdbcType=VARCHAR},
      </if>
      <if test="activitytitle != null">
        activityTitle = #{activitytitle,jdbcType=VARCHAR},
      </if>
      <if test="belongto != null">
        belongTo = #{belongto,jdbcType=VARCHAR},
      </if>
      <if test="activitycontext != null">
        activityContext = #{activitycontext,jdbcType=LONGVARCHAR},
      </if>
      <if test="activitymumber != null">
        activityMumber = #{activitymumber,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ru.springboot3.model.Activity">
    update activity
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      activityAddress = #{activityaddress,jdbcType=VARCHAR},
      activityTitle = #{activitytitle,jdbcType=VARCHAR},
      belongTo = #{belongto,jdbcType=VARCHAR},
      activityContext = #{activitycontext,jdbcType=LONGVARCHAR},
      activityMumber = #{activitymumber,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ru.springboot3.model.Activity">
    update activity
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      activityAddress = #{activityaddress,jdbcType=VARCHAR},
      activityTitle = #{activitytitle,jdbcType=VARCHAR},
      belongTo = #{belongto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>