<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ru.springboot3.mapper.HelpMapper">
  <resultMap id="BaseResultMap" type="com.ru.springboot3.model.Help">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="helpObject" jdbcType="VARCHAR" property="helpobject" />
    <result column="helpObjectCard" jdbcType="VARCHAR" property="helpobjectcard" />
    <result column="helpObjectAdress" jdbcType="VARCHAR" property="helpobjectadress" />
    <result column="helperPartyId" jdbcType="VARCHAR" property="helperpartyid" />
    <result column="helperName" jdbcType="VARCHAR" property="helpername" />
    <result column="helperCard" jdbcType="VARCHAR" property="helpercard" />
    <result column="helperAddress" jdbcType="VARCHAR" property="helperaddress" />
    <result column="helperBelongTo" jdbcType="VARCHAR" property="helperbelongto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, helpObject, helpObjectCard, helpObjectAdress, helperPartyId, helperName, helperCard, 
    helperAddress, helperBelongTo
  </sql>
  <select id="selectByExample" parameterType="com.ru.springboot3.model.HelpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from help
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from help
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from help
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ru.springboot3.model.HelpExample">
    delete from help
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ru.springboot3.model.Help">
    insert into help (id, helpObject, helpObjectCard, 
      helpObjectAdress, helperPartyId, helperName, 
      helperCard, helperAddress, helperBelongTo
      )
    values (#{id,jdbcType=INTEGER}, #{helpobject,jdbcType=VARCHAR}, #{helpobjectcard,jdbcType=VARCHAR}, 
      #{helpobjectadress,jdbcType=VARCHAR}, #{helperpartyid,jdbcType=VARCHAR}, #{helpername,jdbcType=VARCHAR}, 
      #{helpercard,jdbcType=VARCHAR}, #{helperaddress,jdbcType=VARCHAR}, #{helperbelongto,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ru.springboot3.model.Help">
    insert into help
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="helpobject != null">
        helpObject,
      </if>
      <if test="helpobjectcard != null">
        helpObjectCard,
      </if>
      <if test="helpobjectadress != null">
        helpObjectAdress,
      </if>
      <if test="helperpartyid != null">
        helperPartyId,
      </if>
      <if test="helpername != null">
        helperName,
      </if>
      <if test="helpercard != null">
        helperCard,
      </if>
      <if test="helperaddress != null">
        helperAddress,
      </if>
      <if test="helperbelongto != null">
        helperBelongTo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="helpobject != null">
        #{helpobject,jdbcType=VARCHAR},
      </if>
      <if test="helpobjectcard != null">
        #{helpobjectcard,jdbcType=VARCHAR},
      </if>
      <if test="helpobjectadress != null">
        #{helpobjectadress,jdbcType=VARCHAR},
      </if>
      <if test="helperpartyid != null">
        #{helperpartyid,jdbcType=VARCHAR},
      </if>
      <if test="helpername != null">
        #{helpername,jdbcType=VARCHAR},
      </if>
      <if test="helpercard != null">
        #{helpercard,jdbcType=VARCHAR},
      </if>
      <if test="helperaddress != null">
        #{helperaddress,jdbcType=VARCHAR},
      </if>
      <if test="helperbelongto != null">
        #{helperbelongto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ru.springboot3.model.HelpExample" resultType="java.lang.Long">
    select count(*) from help
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update help
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.helpobject != null">
        helpObject = #{record.helpobject,jdbcType=VARCHAR},
      </if>
      <if test="record.helpobjectcard != null">
        helpObjectCard = #{record.helpobjectcard,jdbcType=VARCHAR},
      </if>
      <if test="record.helpobjectadress != null">
        helpObjectAdress = #{record.helpobjectadress,jdbcType=VARCHAR},
      </if>
      <if test="record.helperpartyid != null">
        helperPartyId = #{record.helperpartyid,jdbcType=VARCHAR},
      </if>
      <if test="record.helpername != null">
        helperName = #{record.helpername,jdbcType=VARCHAR},
      </if>
      <if test="record.helpercard != null">
        helperCard = #{record.helpercard,jdbcType=VARCHAR},
      </if>
      <if test="record.helperaddress != null">
        helperAddress = #{record.helperaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.helperbelongto != null">
        helperBelongTo = #{record.helperbelongto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update help
    set id = #{record.id,jdbcType=INTEGER},
      helpObject = #{record.helpobject,jdbcType=VARCHAR},
      helpObjectCard = #{record.helpobjectcard,jdbcType=VARCHAR},
      helpObjectAdress = #{record.helpobjectadress,jdbcType=VARCHAR},
      helperPartyId = #{record.helperpartyid,jdbcType=VARCHAR},
      helperName = #{record.helpername,jdbcType=VARCHAR},
      helperCard = #{record.helpercard,jdbcType=VARCHAR},
      helperAddress = #{record.helperaddress,jdbcType=VARCHAR},
      helperBelongTo = #{record.helperbelongto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ru.springboot3.model.Help">
    update help
    <set>
      <if test="helpobject != null">
        helpObject = #{helpobject,jdbcType=VARCHAR},
      </if>
      <if test="helpobjectcard != null">
        helpObjectCard = #{helpobjectcard,jdbcType=VARCHAR},
      </if>
      <if test="helpobjectadress != null">
        helpObjectAdress = #{helpobjectadress,jdbcType=VARCHAR},
      </if>
      <if test="helperpartyid != null">
        helperPartyId = #{helperpartyid,jdbcType=VARCHAR},
      </if>
      <if test="helpername != null">
        helperName = #{helpername,jdbcType=VARCHAR},
      </if>
      <if test="helpercard != null">
        helperCard = #{helpercard,jdbcType=VARCHAR},
      </if>
      <if test="helperaddress != null">
        helperAddress = #{helperaddress,jdbcType=VARCHAR},
      </if>
      <if test="helperbelongto != null">
        helperBelongTo = #{helperbelongto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ru.springboot3.model.Help">
    update help
    set helpObject = #{helpobject,jdbcType=VARCHAR},
      helpObjectCard = #{helpobjectcard,jdbcType=VARCHAR},
      helpObjectAdress = #{helpobjectadress,jdbcType=VARCHAR},
      helperPartyId = #{helperpartyid,jdbcType=VARCHAR},
      helperName = #{helpername,jdbcType=VARCHAR},
      helperCard = #{helpercard,jdbcType=VARCHAR},
      helperAddress = #{helperaddress,jdbcType=VARCHAR},
      helperBelongTo = #{helperbelongto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>