<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ru.springboot3.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.ru.springboot3.model.Interview">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="interviewee" jdbcType="VARCHAR" property="interviewee" />
    <result column="interviewer" jdbcType="VARCHAR" property="interviewer" />
    <result column="interviewLocation" jdbcType="VARCHAR" property="interviewlocation" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="interviewTime" jdbcType="TIMESTAMP" property="interviewtime" />
    <result column="belongto" jdbcType="VARCHAR" property="belongto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, interviewee, interviewer, interviewLocation, context, interviewTime, belongto
  </sql>
  <select id="selectByExample" parameterType="com.ru.springboot3.model.InterviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Interview
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Interview
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ru.springboot3.model.InterviewExample">
    delete from Interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ru.springboot3.model.Interview">
    insert into Interview (id, interviewee, interviewer, 
      interviewLocation, context, interviewTime, 
      belongto)
    values (#{id,jdbcType=INTEGER}, #{interviewee,jdbcType=VARCHAR}, #{interviewer,jdbcType=VARCHAR}, 
      #{interviewlocation,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, #{interviewtime,jdbcType=TIMESTAMP}, 
      #{belongto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ru.springboot3.model.Interview">
    insert into Interview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="interviewee != null">
        interviewee,
      </if>
      <if test="interviewer != null">
        interviewer,
      </if>
      <if test="interviewlocation != null">
        interviewLocation,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="interviewtime != null">
        interviewTime,
      </if>
      <if test="belongto != null">
        belongto,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interviewee != null">
        #{interviewee,jdbcType=VARCHAR},
      </if>
      <if test="interviewer != null">
        #{interviewer,jdbcType=VARCHAR},
      </if>
      <if test="interviewlocation != null">
        #{interviewlocation,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null">
        #{interviewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="belongto != null">
        #{belongto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ru.springboot3.model.InterviewExample" resultType="java.lang.Long">
    select count(*) from Interview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Interview
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.interviewee != null">
        interviewee = #{record.interviewee,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewer != null">
        interviewer = #{record.interviewer,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewlocation != null">
        interviewLocation = #{record.interviewlocation,jdbcType=VARCHAR},
      </if>
      <if test="record.context != null">
        context = #{record.context,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewtime != null">
        interviewTime = #{record.interviewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.belongto != null">
        belongto = #{record.belongto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Interview
    set id = #{record.id,jdbcType=INTEGER},
      interviewee = #{record.interviewee,jdbcType=VARCHAR},
      interviewer = #{record.interviewer,jdbcType=VARCHAR},
      interviewLocation = #{record.interviewlocation,jdbcType=VARCHAR},
      context = #{record.context,jdbcType=VARCHAR},
      interviewTime = #{record.interviewtime,jdbcType=TIMESTAMP},
      belongto = #{record.belongto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ru.springboot3.model.Interview">
    update Interview
    <set>
      <if test="interviewee != null">
        interviewee = #{interviewee,jdbcType=VARCHAR},
      </if>
      <if test="interviewer != null">
        interviewer = #{interviewer,jdbcType=VARCHAR},
      </if>
      <if test="interviewlocation != null">
        interviewLocation = #{interviewlocation,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null">
        interviewTime = #{interviewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="belongto != null">
        belongto = #{belongto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ru.springboot3.model.Interview">
    update Interview
    set interviewee = #{interviewee,jdbcType=VARCHAR},
      interviewer = #{interviewer,jdbcType=VARCHAR},
      interviewLocation = #{interviewlocation,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      interviewTime = #{interviewtime,jdbcType=TIMESTAMP},
      belongto = #{belongto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>